{% extends "index.html" %} {% block content %}
<body style="background-color:#EC9350; font-family: 'DM Sans', sans-serif;">


    <!-- Chat section -->
    <div class="card mt-5" style="width: 40rem; height: 50em; border-radius: 25px;">
        <div class="card-header">
            <h2>Chat Room {{code}}</h2>
        </div>
        <div class="card-body d-flex flex-column" style="background-color: #F5F5F4; border-radius: 25px;">
            <div class="messages" id="messages"></div>

                <div class="card-footer" style="background-color: #F9E1CD; border-radius: 25px; border: 1px solid #F2C7A3;">
                    <div class="row mt-auto" style="border-radius: 25px;">
                        <input type="text" rows="3" placeholder="Start typing..." name="message" id="message"/>
                        <button type="button" name="send" id="send-btn" onClick="sendMessage()">
                            Send
                        </button>
                        </div>
                </div>
              </div>

      </div>
    </div>
</div>

<!-- Display messages in chat -->
<script type="text/javascript">
    let socketio = io();

    const messages = document.getElementById("messages");

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
    };
</script>
{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}{% endblock %}
